<!--html template-->
<h1 class="bg-primary m-a-1">{{title}}</h1>
<h2 class="bg-primary p-a-1">My Heroes</h2>
<ul class="list-group p-a-1">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === active"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<div class="table" *ngIf="selectedHero">
  <h2 class= "bg-primary">{{selectedHero.name}} details:</h2>
  <div><label> ID: </label>{{selectedHero.id}}</div>
  <div>
    <label> NAME: </label>
    <input [(ngModel)]="selectedHero.name" placeholder="name"/>
  </div>
</div>
